.container {
    margin: 45px auto;
    max-width: 45vw;
}

.center {
    text-align: center;
}

.container ul{
    margin-left: 37px

}


@media only screen and (max-width: 600px) {
    .mainnav ul li {
      margin: 0 6px;
      list-style: none;
      font-weight: bold;
    }
  }
